Source: spindle
Section: misc
Priority: optional
Maintainer: Mo McRoberts <mo.mcroberts@bbc.co.uk>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8.0.0), autoconf, automake, libtool, libltdl-dev, libtwine-dev (>= 7.0.0), uuid-dev, liburi-dev, libsql-dev, libsparqlclient-dev, libquilt-dev (>= 9.1), libawsclient-dev, libmq-dev (>= 2.0.0)

Package: twine-processor-spindle
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libuuid1, libtwine (>= 7.0.0), liburi, libsql, libsparqlclient, libawsclient, libmq (>= 2.0.0)
Description: Linked Open Data aggregator engine for Twine

Package: quilt-engine-spindle
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libuuid1, libquilt (>= 12.0.1), liburi, libsql, libsparqlclient, libawsclient
Description: Quilt engine for Spindle-processed graphs
